.footer {
    background: #23272f;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
    margin-top: 2rem;
    box-shadow: 0 -2px 15px rgba(0, 0, 0, 0.274);
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 0;
  }
  
  .links {
    margin-top: 0.5rem;
  }
  
  .link {
    color: #00bcd4;
    margin: 0 0.5rem;
    border-bottom: #23272f;
    text-decoration: none;
    
    transition: color 0.2s, border-bottom 0.2s;
    
  }
  
  .link:hover {
    border-bottom: 2px solid #00bcd4;
    text-decoration: none;
    color: #fff;
  
  }